{% extends 'base.html' %}

{% comment %} 一部分だけheadタグ内に入れることができる。今回はchaart.jsを使うため {% endcomment %}
{% block extra_head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body_class %}
bg-snow text-textBlack font-NotoSans
{% endblock body_class %}

{% load static %}
{% block content %}

<!-- ナビゲーションバーを作成 lgは1024pxからのサイズ-->
<header class="bg-blackGreen w-full fixed top-0 left-0 h-10 lg:h-20 z-10">
  <div class="container mx-auto px-4 h-full">
   <nav class="flex items-center justify-between h-full">
    <div class="flex items-center">
     <a href="#" class="transform hover:scale-105 transition duration-300">
      <img
       src="{% static 'admin/img/kotukotu_thumbnail.png' %}"
       alt="サムネイルのカメの画像"
       class="h-10 lg:h-20 w-auto py-1 object-cover rounded-xl"
      />
     </a>
    </div>
    <div class="flex items-center">
     <ul class="hidden md:flex space-x-8 text-white">
      <li>
       <a href="#" class="hover:underline">ホーム</a>
      </li>
      <li>
       <a href="#" class="hover:underline">レコード</a>
      </li>
      <li>
       <a href="{% url 'activity:activity_add' %}" class="hover:underline">記録</a>
      </li>
      <li>
       <a href="#" class="hover:underline">カテゴリー</a>
      </li>
     </ul>
     <button
      type="submit"
      class="bg-white text-blackGreen px-4 py-1 rounded-full ml-4 hidden md:block"
      onclick="window.location.href='{% url 'users:logout' %}'"
     >
      ログアウト
     </button>
     <!-- ハンバーガーメニューアイコン（横幅760px以下で表示） -->
     <button class="md:hidden text-white focus:outline-none" aria-label="メニュー">
      <!-- 画像を埋め込む -->
      <img
       src="{% static 'admin/img/hamburgur.png' %}"
       alt="ハンバーガーメニュー"
       class="hamburger-menu md:hidden"
       style="height: 40px; width: auto; object-fit: contain; float: left"
      />
     </button>
    </div>
   </nav>
  </div>
 </header>

 <!-- 左上のホーム＞のやつを作成 -->
 <div class="container mx-auto px-4 pt-20 text-textBlack">
  <nav class="text-lg">
   <a href="#" class="hover:underline text-#474747">ホーム</a>
   <!-- <span> &gt; </span>
   <span>レコード</span> -->
  </nav>
 </div>

<!-- 下部分全体のコンテナ。左のカテゴリー、累計日数。入力オレンジ。グラフ -->
<div class="container mx-auto">
  <div class="flex flex-wrap">
    <!-- カテゴリー一覧のコンテナ。左1/3 -->
    <div class="w-full lg:w-1/3 bg-snow p-1">
      <div id="category-list" class="hidden lg:block"></div>
    </div>

    <!-- 累計日数の円、累計時間の要素、積み上げボタンを囲む部分（形変えたいからコンテナではない） -->
<div class="w-full lg:w-2/3">
  <div class="flex flex-wrap justify-between items-center">
    <!-- 累計日数の円の要素の位置する場所（大きさ） -->
    <div class="w-1/2 md:w-1/3 lg:w-1/3">
      <div class="relative w-28 h-28 md:w-48 md:h-48">
        <div
          class="absolute inset-0 flex justify-center items-center bg-blackGreen rounded-full w-full h-full shadow-lg"
        ></div>
        <div
          class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white text-textBlack rounded-full p-4 w-3/4 h-3/4"
        >
          <div class="flex justify-center items-center h-full">
            <div class="text-center">
              <p class="mb-1 text-sm md:text-base">累計日数</p>
              <span class="text-2xl md:text-3xl" id="totalDays">123</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 累計時間の要素と積みあげボタンのコンテナ -->
    <div class="w-1/2 md:w-1/3 lg:w-1/3 flex flex-col items-center justify-center">
      <!-- 累計時間の要素 -->
      <div class="bg-white text-textBlack rounded-lg p-4 w-full shadow-lg flex items-center justify-center mb-2">
        <div class="text-center">
          <p class="mb-1 text-sm md:text-base">累計時間</p>
          <span class="text-2xl md:text-3xl" id="totalDuration">00:00</span>
        </div>
      </div>
      <!-- 積み上げボタン -->
      <button
      class="flex items-center justify-center bg-[#E6BC87] text-textBlack h-10 p-2 rounded w-full"
      type="button"
      onclick="window.location.href='{% url 'activity:activity_add' %}'"
      >
      <img src="{% static 'admin/img/pencil-icon.png' %}" alt="pencil icon" class="h-6 w-6 mr-2" />
      <span class="text-xs sm:text-sm md:text-base">積み上げを記録する</span>
      </button>

    </div>
  </div>

  <!-- 棒グラフのコンテナ -->
  <div class="w-full mx-auto mt-4">
    <div class="w-full relative" style="padding-top: 60%">
      <canvas id="barChart" class="absolute top-0 left-0 w-full h-full"></canvas>
      </div>
      </div>

        <!-- 画面の横幅が 1024px 以下になった場合のカテゴリー一覧は下に真ん中に表示 -->
  <div class="flex justify-center mt-6 w-full lg:hidden">
    <div class="text-center">
      <div id="category-list-mobile"></div>
    </div>
  </div>
</div>
</div>
</div>




 <!-- モバイルメニュー（横幅760px以下でハンバーガーメニューを押したら表示） -->
 <div
  id="mobileMenu"
  class="hidden fixed top-0 right-0 w-1/2 h-full z-20 bg-blackGreen bg-opacity-80 md:hidden"
 >
  <!-- 閉じるボタン -->
  <img
   id="closeMenuButton"
   src="{% static 'admin/img/close_button.png' %}"
   alt="閉じるボタン"
   class="absolute top-11 right-2 h-6 w-auto cursor-pointer z-30"
  />

  <!-- メニューのコンテンツが含まれるコンテナ -->
  <div class="container mx-auto px-4 h-full flex flex-col justify-center items-center z-30">
   <!-- メニューのリスト -->
   <ul class="text-white text-center space-y-4">
    <li>
     <a href="#" class="hover:underline">ホーム</a>
    </li>
    <li>
     <a href="#" class="hover:underline">レコード</a>
    </li>
    <li>
     <a href="{% url 'activity:activity_add' %}" class="hover:underline">記録</a>
    </li>
    <li>
     <a href="#" class="hover:underline">カテゴリー</a>
    </li>
    <li>
     <button type="submit" class="bg-white text-blackGreen px-4 py-1 rounded-full mt-4"
     onclick="window.location.href='{% url 'users:logout' %}'"
     >
      ログアウト
     </button>
    </li>
   </ul>
  </div>
 </div>

 <script src="{% static 'admin/js/home.js' %}"></script>
 <script src="{% static 'admin/js/categories_list.js' %}"></script>
 <script type="module" src="{% static 'admin/js/graph.js' %}"></script>
 


{% comment %} 以降は元々作ってくれたもの。 {% endcomment %}
  <h1>ホーム画面です</h1>
  <a href="{% url 'users:logout' %}">ログアウト</a>

  <a href="{% url 'activity:activity_list' %}">レコード画面へ</a>
  <a href="{% url 'activity:activity_add' %}">積み上げを記録する</a>

  <h1>日々の積み上げ記録</h1>
  <p>
    {{ username }}さん今日も頑張りましょう
  </p>
  <p>
    累計時間:{{ total_duration }}
  </p>
  <p>
    累計日数:{{ total_days }}日
  </p>
  <p>日付</p>
  <ul>
    {% for date in date_list %}
      <li>{{ date }}</li>
    {% endfor %}
  </ul>
  <p>時間</p>
  <ul>
    {% for duration in duration_list %}
      <li>{{ duration }}</li>
    {% endfor %}
  </ul>

{% endblock content %}
