{% extends 'base.html' %}

{% block body_class %}
bg-snow text-textBlack font-NotoSans min-h-screen flex flex-col items-center justify-center space-y-4
{% endblock body_class %}

{% load static %}

{% block content %}
  <!-- 画像のコンテナ -->
  <div class="rounded-lg">
    <img
      src="{% static 'admin/img/kotukotu_thumbnail.png' %}"
      alt="サムネイルのカメの画像"
      class="w-25 h-20 object-cover rounded-tl-2xl rounded-tr-2xl rounded-bl-2xl rounded-br-2xl"
    />
  </div>

  <!-- サインアップフォームのコンテナ -->
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <form id="signup-form" method="post">
      {% csrf_token %}

  <!-- エラーメッセージの表示 -->
  {% if form.is_bound %}
    {% if form.username.errors or form.email.errors or form.password1.errors or form.password2.errors %}
      <div class="text-red-500 mb-4">
        入力内容に誤りがあります。各項目を確認してください。
      </div>
    {% endif %}
  {% endif %}

      <!-- ユーザー名の入力フィールド -->
      <div class="mb-4">
        <label for="{{ form.username.id_for_label }}" class="block text-gray-700 font-semibold">
          ユーザー名
        </label>
        <input type="text" name="{{ form.username.html_name }}" id="{{ form.username.auto_id }}" class="mt-1 w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500" value="{{ form.username.value|default:'' }}" />
      </div>

      <!-- メールアドレスの入力フィールド -->
      <div class="mb-4">
        <label for="{{ form.email.id_for_label }}" class="block text-gray-700 font-semibold">
          メールアドレス
        </label>
        <input type="email" name="{{ form.email.html_name }}" id="{{ form.email.auto_id }}" class="mt-1 w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500" value="{{ form.email.value|default:'' }}" />
      </div>

      <!-- パスワードの入力フィールド -->
      <div class="mb-4">
        <label for="{{ form.password.id_for_label }}" class="block text-gray-700 font-semibold">
          パスワード
        </label>
        <input type="password" name="{{ form.password.html_name }}" id="{{ form.password.auto_id }}" class="mt-1 w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500" value="{{ form.password.value|default:'' }}" />
      </div>

      <!-- 確認用パスワードの入力フィールド -->
      <div class="mb-6">
        <label for="{{ form.confirm_password.id_for_label }}" class="block text-gray-700 font-semibold">
          確認用パスワード
        </label>
        <input type="password" name="{{ form.confirm_password.html_name }}" id="{{ form.confirm_password.auto_id }}" class="mt-1 w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500" value="{{ form.confirm_password.value|default:'' }}" />
      </div>

      <!-- サインアップボタン -->
      <button
        type="submit"
        class="w-full py-3 mt-4 text-white btn-blackGreen rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-custom hover:bg-whiteGreen"
      >
        サインアップ
      </button>
    </form>
  </div>
  <!-- ログインページへのリンク -->
  <div class="mt-4">
    <a href="{% url 'users:login' %}" class="text-custom hover:text-snow underline">
      登録済みの方はこちら
    </a>
  </div>
{% endblock content %}

